/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #130202;
}

a {
  color: #d0d8db;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #dd5414;
  color: rgb(20, 196, 43);
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 1000;
  transition: all 0.5s;
  padding: 0 15px;
  background: #160f27;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #324d4e;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Bookman";
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: rgba(19, 241, 174, 0.993);
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #ddc914;
  color: rgb(192, 14, 14);
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #8a881a;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: bolder;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
  font-weight: bolder;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: rgb(197, 123, 27);
}

.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #aa10da;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: rgb(255, 255, 255);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-family: "Times New Roman";
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #11360d;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 170px;
  height: 3px;
  background: #1b0329;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about
{
  background-color: #753f333a;
}
.about p
{
  font-family: "Tahoma";

}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #0c8831;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts 
{
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills
{
  background-color: #2f535e3a;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/
.edu .edu-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.edu .edu-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.edu .edu-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.edu .edu-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.edu .edu-item ul {
  padding-left: 20px;
}

.edu .edu-item ul li {
  padding-bottom: 10px;
}

.edu .edu-item:last-child {
  padding-bottom: 0;
}

.edu .edu-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# project
--------------------------------------------------------------*/
.project .project-item {
  margin-bottom: 30px;
}

.project #project-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.project #project-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.project #project-flters li:hover, .project #project-flters li.filter-active {
  color: #149ddd;
}

.project #project-flters li:last-child {
  margin-right: 0;
}

.project .project-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.project .project-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.project .project-wrap .project-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.project .project-wrap .project-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.project .project-wrap .project-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.project .project-wrap .project-links a + a {
  border-left: 1px solid #37b3ed;
}

.project .project-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.project .project-wrap:hover .project-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}
.contactf {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contactf input {
  background-color: rgba(213, 220, 223, 0.342);
  border: 1px solid;
  color: rgb(20, 12, 12);
  display: block;
  font-family: $secondary-font;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}
.contactf textarea {
  background-color: rgba(213, 220, 223, 0.342);
  border: 1px solid;
  color: rgb(20, 12, 12);
  display: block;
  font-family: $secondary-font;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}
.contactf button {
  background-color: rgba(20, 157, 221, 0.75);
  border-radius: 10px;
  color: white;
  display: block;
  font-family: $secondary-font;
  font-size: 18px;
  margin-left: auto;
  padding: 20px;
  transition: background 0.2s;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 40px 0;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# project Details
--------------------------------------------------------------*/
.project-details {
  padding-top: 0;
}

.project-details .project-details-container {
  position: relative;
}

.project-details .project-details-carousel {
  position: relative;
  z-index: 1;
}

.project-details .project-details-carousel .owl-nav, .project-details .project-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.project-details .project-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.project-details .project-details-carousel .owl-dot.active {
  background-color: #149ddd !important;
}

.project-details .project-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.project-details .project-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.project-details .project-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.project-details .project-info ul li + li {
  margin-top: 10px;
}

.project-details .project-description {
  padding-top: 50px;
}

.project-details .project-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.project-details .project-description p {
  padding: 0;
}

@media (max-width: 768px) {
  .project-details .project-description h2 {
    width: 100%;
  }
  .project-details .project-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

/*css file for particles.js*/
  
   /* ---- stats.js ---- */
   
.count-particles
{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
   
.js-count-particles
{
  font-size: 1.1em;
}
   
#stats,
   .count-particles
  {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
   
#stats
{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
   
.count-particles
{
  border-radius: 0 0 3px 3px;
}
   
   
   /* ---- particles.js container ---- */
   
#particles-js
{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.profil img
 {
  margin-top: 2em;
  left: 42%;
  position: absolute;
  display: block;
  width: 200px;
  border: 4px solid #828d8d;
}
@media (max-width: 500px) {
  .profil img
   {
    left: 9%;
    margin-top: 13em;
    margin-left: auto;
    position: relative;
    display: block;
    width: 200px;
  }
}


.bgtext
{
  left: auto;
  top: 50%;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 0.4em;
}

  
.timeline 
{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after 
{
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgba(59, 58, 58, 0.157);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}


.contain 
{
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.contain::after 
{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left
{
  left: 0;
}
.right 
{
  left: 50%;
}

.right::after
{
  left: -16px;
}
.conten 
{
  padding: 20px 30px;
  background-color: rgba(172, 201, 214, 0.219);
  position: relative;
  border-radius: 6px;
}
.conten h2
{
  text-decoration: underline;
  font-weight: 100px;
  display: block;
  font-size: 38px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.conten img
{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px)
 {
  
  .timeline::after 
  {
  left: 31px;
  }
  
  .contain
  {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  }
  .contain::before 
  {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after 
  {
  left: 15px;
  }
  .right 
  {
  left: 0%;
  }
}
